{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row center-block">
        <div class="col-4">
            <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
                <input type="text" class="form-control" placeholder="Enter your location..."{{ form.city }}
                <p>{{ form.state.select }}
                    {{ form.state(siz=25) }}
               </p>
        <p>{{ form.submit() }}</p>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}